@charset "utf-8";
/* CSS Document */

div,h2,table,tr,td,tbody,span,a,p,input,font,body{
	margin:0;
    padding:0;
	}
body {
    font: 12px/130% 'Microsoft YaHei',Arial,"宋体";
}
a{ text-decoration:none;}
.content {
    width: 900px;
    border: 1px solid #ABABAB;
    border-radius: 10px;
    margin: 8% auto 0;
}
.content h2 {
    display: block;
    margin: 0 auto;
    width: 840px;
    height: 85px;
    line-height: 85px;
    border-bottom: 1px solid #ABABAB;
    font-size: 20px;
    color: #666;
    text-indent: 45px;
    background:url(../images/07.png)no-repeat 0 25px;
}
.regConTable {
    display: block;
    margin: 20px auto;
    width: 380px;
}
.regConTable tr td {
    height: 78px;
}
.regConTable td font {
    float: right;
    height: 40px;
    line-height: 21px;
    font-size: 16px;
    color: #333;
    padding-right: 15px;
}
.regConTable td input {
    float: left;
    width: 280px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #666;
    border: 1px solid #ababab;
    border-radius: 5px;
    margin-bottom: 3px;
    padding: 0 5px;
}
.msgXym {
    float: right;
    width: 110px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: #E61441;
    border-radius: 5px;
    margin-top: 1px;
}
.regSub {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
	font-weight:bolder;
	color: #3C3C3C;
    text-align: center;
    background: #e9e9e9;
    border-radius: 5px;
}
td .warning {
    display: block;
    float: left;
    width: 100%;
    height: 20px;
    line-height: 20px;
}

.c999 {
    color: #999;
}
.regConTable td input.inpXym {
    width: 165px;
}